@font-face {
  font-family: "iconfont"; /* Project id 4065758 */
  src: url('iconfont.woff2?t=1685972521482') format('woff2'),
       url('iconfont.woff?t=1685972521482') format('woff'),
       url('iconfont.ttf?t=1685972521482') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-biaoge-xiazai:before {
  content: "\e70f";
}

.icon-a-fenxiang2:before {
  content: "\e620";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-icon_category:before {
  content: "\e61e";
}

.icon-xitongyunzhuanqingkuang:before {
  content: "\e631";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-tuichu:before {
  content: "\e658";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-yunshangchuan:before {
  content: "\eb2c";
}

.icon-wendang:before {
  content: "\e61b";
}

.icon-yinpin:before {
  content: "\e619";
}

.icon-tuichu1:before {
  content: "\e603";
}

.icon-tuxiang:before {
  content: "\e605";
}

